body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
}
p, ul, ol {
	margin-bottom: 25px;
}
h2 {
	font-size: 42px;
}
h4 {
	margin-bottom: 25px;
}
h6 {
	font-size: 16px;
	font-weight: 700;
}
h5 {
	font-size: 18px;
}
header {
	height: 163px;
	position: relative;
	z-index: 2;
}
#logo-container .width-container {
	position: relative;
}
header h1#logo {
	padding: 0 17px 25px 17px;
	background: #b7d6c7;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: -35px;
	position: absolute;
	top: 0;
	left: 0;
}
header h1#logo a {
	display: block;
	width: 167px;
	height: 137px;
}
#subscribe-right {
	margin-right: 0;
	padding-right: 0;
}
#top-divider {
	margin: 0 20px;
}
.sf-with-ul {
	cursor: default;
}
.sf-menu ul li a,
.sf-menu ul li a:visited {
	font-size: 14px !important;
}
.sf-menu li li a {
	margin: 0 !important;
	border-top: 1px solid #d9d9d9 !important;
}
.sf-menu li li a:hover {
	background: #e6e6e6 !important;
	background-image: none !important;
}
.sf-menu a {
	margin-bottom: 25px !important;
}
.sf-menu .current_page_parent > a,
.sf-menu .current-menu-ancestor > a {
	color: #db7201;
}
#page-title {
	position: relative;
	z-index: 1;
}
#page-title h3 {
	padding: 47px 0 20px 0;
	color: #283734;
	text-shadow: none;
}
#bread-crumb {
	padding: 63px 0px 22px 0px;
	color: #283734;
	font-size: 14px;
}
#bread-crumb a {
	color: #db7201;
	display: inline-block;
	margin: 0 5px;
}
#bread-crumb a:hover {
	color: #283734;
}
#bread-crumb span span {
	margin-left: 5px;
}
#text-3 {
	background-color: #b7d6c7;
	color: #555555;
	text-align: center;
	margin-top: 35px;
	margin-bottom: -35px;
	padding: 38px 0px 30px 0px;
}
#text-3 .width-container-pro {
	font-size: 15px;
	margin: 0 auto;
	width: 70%;
}
#featured-assistance-pro h4,
#text-3 h4 {
	color: #db7201;
	text-shadow: none;
	font-family: 'Roboto Condensed', sans-serif;
}
#featured-assistance-pro h4 a,
#text-3 h4 a {
	color: #db7201;
}
#featured-assistance-pro h4 a:hover,
#text-3 a:hover {
	color: #262626;
}
footer a, #widget-area a {
	color: #db7201;
}
#copyright {
	text-align: center;
}
.featured-image {
	margin-top: 4px;
	margin-bottom: 34px;
}
#sidebar .sidebar-item:last-child .sidebar-divider {
	display: none;
}
.sidebar-btn {
	text-decoration: none;
	line-height: 1;
	cursor: pointer;
	display: inline-block;
	width: auto;
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.25);
	margin-right: 0px;
	padding: 12px 15px 11px 15px;
	font-size: 13px;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.18);
	font-weight: 400;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	background: #db7201;
	color: #ffffff !important;
}
.sidebar-btn:hover {
	color: #fff;
	background: #404040;
}
#text-2 .sidebar-btn {
	margin-top: 15px;
}
.flexslider {
	z-index: 1;
}
#sidebar {
	width: 23%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.search-form input.search-submit,
#searchform input#searchsubmit {
	padding: 12px 15px 11px 15px;
	font-size: 13px;
	margin-top: 2px;
	vertical-align: top;
}
.search-form input,
#searchform input#s {
	width: 65%;	
}


.woocommerce .woocommerce-info {
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	background: none !important;
	color: #6e6e6e !important;
	text-shadow: none !important;
	list-style: none outside !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before {
	background-color: transparent !important;
	content: "" !important;
	display: none !important;
}


/* Home page */

#homepage-slider {
	height: auto;
	max-height: 400px;
	overflow: hidden;
	width: 100%;
}
#homepage-slider ul {
	height: auto;
	max-height: 400px;
}
#homepage-slider ul li {
	height: auto;
	max-height: 400px;
}
.caption-progression {
	margin: 40px 0 0 0;
}
.caption-box-pro {
	width: 50%;
}
.home #main .width-container {
	width: auto;
	margin: 0;
}
.home h4 {
	font-size: 24px;
}
#home-products {
	background: #e1ece7;
	margin-top: 45px;
	margin-bottom: 50px;
	padding: 50px 0 20px 0;
}
#home-products .woocommerce {
	max-width: 1140px;
	margin: 0 auto;
}
#home-products p {
	margin: 0;
}
#home-products p a {
	margin: 0;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	margin: 0 3.8% 1.7em 0;
}
body.home #main .woocommerce ul.products {
	text-align: center;
}
body.home #main .woocommerce ul.products li.product {
	float: none;
	display: inline-block;
	vertical-align: top;
}
body.home #main .width-container li.product.column-3.last {
	margin-right: 1%;
}
body.home #main .width-container .columns-3 li.product .product-container-pro {
	overflow: hidden;
	background: #fff;
}
body.home #main .width-container .columns-3 li.product .product-container-pro h3 {
	float: left;
	padding: .3em 0 .2em 0;
}
body.home #main .width-container .columns-3 li.product .product-container-pro .count-pro-cat {
	float: right;
	padding: 0.2em 0 0 0;
}
body.home #main .pf-content {
	padding-bottom: 15px;
}
.display-posts-listing {
	max-width: 1140px;
	margin: 0 auto 40px auto;
	padding: 0;
	list-style: none;
	text-align: center;
}
.display-posts-listing li {
	margin-left: 1%;
	margin-right: 1%;
	width: 31.3%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.display-posts-listing a.image {
	display: block;
	margin-bottom: 15px;
}
.display-posts-listing a.title {
	font-size: 24px;
	display: block;
	line-height: 1.2;
	text-align: center;
	padding: 0 15px;
}
.display-posts-listing .date {
	display: block;
	margin-bottom: 10px;
	text-align: center;
}
.display-posts-listing .excerpt-dash {
	display: none;
}
.display-posts-listing .excerpt {
	padding: 0 15px 15px 15px;
	text-align: left;
	display: block;
}
.display-posts-listing + p,
.display-posts-listing + p a {
	margin: 0;
}


/* Tour category page */

.tour-departs span,
.tour-length span {
	font-weight: bold;
}
.tour-length {
	margin-bottom: 15px;
}
.category-location-pro + a {
	display: block;
	overflow: hidden;
	min-height: 95px;
}

/* Tour category colours */

.product_cat_africa #page-title,
.product_cat_africa #single-product-pro {
	/*background: #e1cfb0;*/
	background: #eee9e1;
}
.product_cat_americas #page-title,
.product_cat_americas #single-product-pro {
	/*background: #baa8c5;*/
	/*background: #d6cddb;*/
	background: #e4dfe7;
}
.product_cat_australia-pacific #page-title,
.product_cat_australia-pacific #single-product-pro {
	/*background: #d6dfbd;*/
	background: #ebede5;
}
.product_cat_asia #page-title,
.product_cat_asia #single-product-pro {
	/*background: #fbe6b6;*/
	background: #f4efe3;
}
.product_cat_europe #page-title,
.product_cat_europe #single-product-pro {
	/*background: #bcdddd;*/
	/*background: #dceaea;*/
	background: #e4eded;
}



/* Tour page */

#single-product-pro .entry-summary {
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
}
#single-product-pro .images img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tabs {
	line-height: 1.4;
	margin-bottom: 42px !important;
}
.woocommerce-tabs h2 {
	margin: 25px 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
	padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	padding: 0;
	margin: 0 !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
	padding: 0.5em 1em;
}
hr {
	border-bottom: none;
}
#tab-itinerary h5 {
	margin-top: 28px;
	margin-bottom: 10px;
}
#tab-itinerary h5 + p {
	margin-bottom: 10px;
}
.ls-sc-divider.solid {
	border-top: 1px solid #dfdfdf;
}
.summary div p:last-child {
	margin-bottom: 0;
}
#single-product-pro .posted_in {
	padding: 12px 0 0 0;
}
.related.products {
	margin-top: 23px;
}
body .product_meta a.ls-sc-button {
	padding: 9px 15px;
	margin-right: 7px;
	margin-bottom: 0;
	margin-top: 20px;
}
body .product_meta a.ls-sc-button.grey {
	background: #dadada;
	color: #333;
}
body .product_meta a.ls-sc-button.grey span {
	color: #333;
}
body .product_meta a.ls-sc-button.grey:hover span {
	color: #fff;
}
body #main .width-container .woocommerce-tabs .tabs li.r-tabs-state-default:hover {
	background: rgba(0, 0, 0, 0.3);
}



/* Testimonials */

.widget_woothemes_testimonials {
	white-space: normal;
}
pre {
	border: none;	
}
blockquote.testimonials-text,
.author {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	white-space: normal;
}
blockquote.testimonials-text span,
.author span {
	font-family: inherit;
}
blockquote.testimonials-text p {
	margin: 0;
}
.quote {
	margin-bottom: 30px;
}
.author {
	padding-left: 40px;
	margin-top: 15px;
	display: block;
	font-style: normal;
}


/* Forms */

span.wpcf7-list-item {
	display: block;
	margin-top: 5px;
}
span.wpcf7-list-item input {
	width: auto !important;
}
.wpcf7 input, #respond input {
	box-sizing: border-box;
	max-width: 394px;
	width: 100%;
}
.wpcf7 textarea,
#respond textarea {
	box-sizing: border-box;
	max-width: 550px;
	width: 100%;
}
.wpcf7-form select, .orderby, .chosen-container {
	max-width: 394px;
}
.wpcf7 .wpcf7-captchar {
	max-width: 150px;
}
.wpcf7 .postcode input,
.wpcf7 .Passenger1PassportExpiryDate input,
.wpcf7 .Passenger2PassportExpiryDate input,
.wpcf7 .Passenger2DateOfBirth input,
.wpcf7 .Passenger1DateOfBirth input {
	max-width: 150px;
}
.wpcf7 input.wpcf7-acceptance {
	width: auto;
}
.wpcf7-submit:disabled {
	opacity: 0.5;
	cursor: default;
}
.wpcf7-submit:disabled:hover {
	cursor: default;
	background: #db7201;
}



/* Page actions */

.page-actions {
	border-top: 1px solid #dfdfdf;
	margin-top: 40px;
	padding-top: 20px;
}
#print-page {
	float: right;
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #dfdfdf;
}
.printfriendly { 
	margin: 0;
}
.fontResizer {
	display: inline-block;
	margin-right: 5px;
}
#font-sizer span {
	font-size: 12px;
	color: #6e6e6e;
}
#font-sizer {
	line-height: 1.3;
	float: right;
}
#font-sizer li {
	list-style: none;
}
#download-brochure {
	float: right;
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #dfdfdf;
}

#download-brochure a {
	font-size: 12px;
	color: #6e6e6e;
	background: url(../images/brochure-pdf.png) no-repeat;
	padding: 3px 0 3px 25px;
}



/* Search results */

.featured-img-progression {
	border: none;
	box-shadow: none;
}



/* Travel Blog */

.type-post:last-child .content-blog-pro {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}



/* Featured Image */

.featured-image {
	text-align: center;
	background: #f5f5f5;
	line-height:  0;
}

.pp_description {
	display: none !important;
}

.page-id-203 .ls-sc-grid_6.alpha {
	width: 20%;
}
.page-id-203 .ls-sc-grid_6.omega {
	width: 76%;
}




.ls-sc-grid_6 p:first-child,
.ls-sc-grid_6 p:last-child,
.ls-sc-grid_6.alpha p {
	margin: 0;
}
.ls-sc-divider {
	margin: 35px 0 !important;
}



.currentTextHolder {
	line-height: 1;
}
.pp_social,
.pp_play {
	display: none;
}


.page-id-41 .pf-content .ls-sc-grid_6 p {
	margin-bottom: 25px;
}


/* Contact Form 7 output */

div.wpcf7-response-output {
	padding: 1em;
    margin: 1em 0;
    font-size: 1.5em;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid rgb(57, 143, 20);
    background: rgba(57, 143, 20, 0.1);
    color: rgb(57, 143, 20);
} 

div.wpcf7-mail-sent-ng {
	border: 2px solid rgb(255, 0, 0);
	background: rgba(255, 0, 0, 0.1);
	color: rgb(255, 0, 0);
}

div.wpcf7-spam-blocked {
	border: 2px solid rgb(255, 165, 0);
	background: rgba(255, 165, 0, 0.1);
	color: rgb(255, 165, 0);
}

div.wpcf7-validation-errors {
	border: 2px solid rgb(255, 132, 0);
	background: 2px solid rgba(255, 132, 0, 0.1);
	color: rgb(255, 132, 0);
}