/* Table of Contents
==================================================
01. RETINA STYLES
02. BASE STYLES (1140px)
03. #DESKTOP (960px)
04. #Tablet (Portrait)
05. #Mobile (Portrait)
*/



/*
=============================================== 01. RETINA STYLES ===============================================
*/
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	body nav select {background-image: url(../images/hamburger-retina.png); background-size:100px 100px;}
	.flex-direction-nav a {background-image: url(../images/slider/arrows@2x.png); background-size:80px 60px;}
	.flex-control-paging li a {background-image:url(../images/slider/slider-bullets@2x.png); background-size:20px 85px;}
	
}

/* IE7-IE8 Fixes*/
.lt-ie9	nav select {background-image: url(../images/hamburger.png);}
.lt-ie9 .flex-direction-nav a {background-image: url(../images/slider/arrows.png);}
.lt-ie9 .flex-control-paging li a {background-image:url(../images/slider/slider-bullets.png); background-size:20px 85px;}

/*
=============================================== 02. BASE STYLES (1140px) ===============================================
*/
/* Note: Design for a width of 1040px */
html {-webkit-text-size-adjust: none;}	/* Removes webkit font resizing */ 
body {max-width:100%; width:100%;}
.width-container, .flex-caption .slider-container {-moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; }




/*
=============================================== 03. #DESKTOP (960px) ===============================================
*/
/* Note: Design for a width of 960px */
@media only screen and (min-width: 959px) and (max-width: 1190px) {
	
.width-container, .flex-caption .slider-container {width:92%;} /* Default Width */

#main .page-sidebar-pro {
	background-position:0px 0px;
}
#content-container {width:68%;}
#sidebar {width:220px; }

.sf-menu a {padding-right:19px; padding-left:19px; }
#cart-icon-pro a {padding-left:19px;}

/* Slider Caption */
.caption-box-pro h2 { font-size:38px; }
.caption-box-pro .text-caption-pro { font-size:13px; }
.caption-box-pro {padding:35px 0px 5px 0px;}
.caption-box-pro h2, .text-caption-pro {padding:0px 35px;}
body .caption-progression a.ls-sc-button.default {
	padding:8px 18px; font-size:13px;
}

}

@media only screen and (min-width: 500px) and (max-width: 1190px) {

.search-form input, #searchform input#s {
	width: 100%;	
	box-sizing: border-box;
}
.search-form input.search-submit,
#searchform input#searchsubmit {
	margin-top: 5px;
}

}

@media only screen and (min-width: 768px) and (max-width: 840px) {
	#menu-item-184 {
		display: none;
	}
}

/*
=============================================== 04. #Tablet (Portrait) ===============================================
*/
/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {

/* Default Width */
.width-container, .flex-caption .slider-container { width:92%; }


#main .page-sidebar-pro {
	background-position:-70px 0px;
}
#content-container {width:70%;}
#sidebar {width:160px;}

.sf-menu a {padding-right:10px; padding-left:10px; }
#cart-icon-pro a {padding-left:10px;}

.commentlist {width:68%;}

/* Slider Caption */
.caption-box-pro h2 { font-size:30px; }
.caption-box-pro .text-caption-pro { font-size:12px; }

.caption-box-pro {padding:25px 0px 2px 0px;}
.caption-box-pro h2, .text-caption-pro {padding:0px 25px;}

body .caption-progression a.ls-sc-button.default  {padding:6px 12px; font-size:10px;}


/* WooCommerce Columns */
body #main .width-container li.product.column-4 {margin-right:2%; width: 23.5%; clear:none;}
body #main .width-container li.product.column-3 {margin-right:2%; width: 32%; clear:none;}
body #main .width-container li.product.column-2 {margin-right:2%; width: 49%; clear:none; }


body #main .width-container li.product.column-2.last, body #main .width-container li.product.column-3.last, body #main .width-container li.product.column-4.last, .lt-ie8 body #main .width-container li.product.column-2.last, .lt-ie8 body #main .width-container li.product.column-3.last, .lt-ie8 body #main .width-container li.product.column-4.last {margin-right:0%;}

body #main .width-container li.product { float:left;}
body #main .width-container li.product.first { clear: both;}

body #main .width-container .columns-2 li.product {margin-left:1%;margin-right:1%; width: 48%; }
body #main .width-container .columns-3 li.product {margin-left:1%;margin-right:1%; width: 31.3%; }
body #main .width-container .columns-4 li.product {margin-left:1%;margin-right:1%; width: 23%; }


#searchform input#searchsubmit, 
.search-form input.search-submit, body #main a.button, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main input.button.checkout-button, body #main button.button, body #single-product-pro a.button, body #single-product-pro button.single_add_to_cart_button, body #single-product-pro input.button, body.woocommerce-cart #single-product-pro input.button.checkout-button, body #single-product-pro button.button,
body a.progression-button, body input.wpcf7-submit, body a.more-link, body a.ls-sc-button.default, body #main .width-container input#submit {
	padding:10px 18px;
	font-size:13px;
}


}


/*
=============================================== 05. #Mobile (Portrait) ===============================================
*/
/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

.page-id-203 .ls-sc-grid_6.alpha {
	width: 100%;
	text-indent:  center;
}
.page-id-203 .ls-sc-grid_6.omega {
	width: 100%;
}	


/* Default Width */
.width-container, .flex-caption .slider-container { width:90%; }

body #main .page-sidebar-pro { background:none;}

/* Default Grid */
body #main .width-container .related li.product.column-3,
body #main .width-container li.product.column-2, body #main .width-container li.product.column-4, .lt-ie8 body #main .width-container li.product.column-2, .lt-ie8 body #main .width-container li.product.column-3, .lt-ie8 body #main .width-container li.product.column-4,
.footer-2-column .widget, .footer-3-column .widget, .footer-4-column .widget, #single-product-pro .images, #single-product-pro .entry-summary,
.grid2column-progression, .grid3column-progression, .grid3columnbig-progression, .grid4column-progression, .grid4columnbig-progression,
#sidebar, #content-container {
	/*width:100%;*/
	width: 49%;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
}

body #main .width-container li.product.column-3 {
	width: 100%;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
}

body.home #main .width-container li.product.column-3 {
	width: 48%;
	margin-bottom:15px;
	margin-left:1%;
	margin-right:1%;
}

body.home #main .width-container li.product.column-3:nth-child(2n) {
	margin-right:1%;
}

.related ul.product li, body #main .width-container .related li.product.column-3.last, body #main .width-container .related li.product.column-3.first {margin-left:0px !important; margin-right:0px !important;}

.product-remove {display:none;}


/* Header Fixes */
#header-top {padding:10px 0px 10px 0px;}
#header-top #information-top-left {float:none; text-align:center;}
#header-top #subscribe-right {float:none; text-align:center; border:none; margin: 0; padding: 0; }
#header-top .social-ico {float:none; text-align:center; padding:5px 0px;}
header h1#logo {float:none; margin:0 auto; position: relative;}
#panel-search input {width:42%; }

/* Footer */
#copyright {text-align:center;}

#page-title h3 {
	padding:24px 0px 15px 0px;
	text-align:center;
	float:none;
}

#bread-crumb {
	padding:0px 0px 20px 0px;
	float:none;
	text-align:center;
}

/* Slider Caption */
#homepage-slider { display: none; }
.caption-progression { top:-50px; }
.caption-box-pro h2 { font-size:14px; margin-bottom:5px;}
.caption-box-pro .text-caption-pro { font-size:8px; line-height:1.2; }
.caption-progression p {margin-bottom:5px;}

.caption-box-pro {padding:10px 0px 0px 0px; width:70%; }
.caption-box-pro h2, .text-caption-pro {padding:0px 10px;}

body .caption-progression a.ls-sc-button.default {padding:5px 8px; font-size:7px;}

/* Comment Adjustments */
.commentlist {width:95%; left:-10px;}
.commentlist .children li.comment .comment-meta {margin-left:0px;}
.commentlist .avatar, .commentlist > li:before {display:none;}

body.single-product #main .commentlist {width:95% !important;}
body.single-product #main .commentlist .comment-text { margin-left:0px !important; left:-80px;}
body.single-product #main .commentlist li {margin-left:-15px !important;}

/* Select Menu */
nav {float:none; margin:0 auto 15px auto; background:none;}
nav ul { display: none; }  
nav select option { background:#fff; color:#888;}
nav select { 
	text-align:center; 
	margin:15px auto 0 auto;
	display:block; padding:0px;  border:none; 
	-webkit-appearance: none; -moz-appearance: normal; appearance: normal;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width:70px; height:70px;
	text-indent:-99999px;
	cursor:pointer;
	background-color:#282828;
	background-image: url(../images/hamburger.png);
	background-position: center center;
	background-repeat:no-repeat;
	border:1px solid #e9e9e9;
	font-family:"Helvetica Neue", Helvetica, Arial, Sans-Serif !important;
	font-weight:normal !important;
}

#featured-assistance-pro {padding:23px 0px 10px 0px;}
#featured-assistance-pro h3 {font-size:22px; }
#featured-assistance-pro h4 {font-size:14px; }
#featured-assistance-pro p {font-size:11px;}

.page-actions { display: none; }


/* WOOCOMMERCE */
#single-product-pro .entry-summary { padding:0px; background:none; color: #333; }
#single-product-pro .entry-summary h4 { color: #333; }
#single-product-pro .posted_in a, #single-product-pro .tagged_as a { color: #db7201; }
#single-product-pro .posted_in a:hover, #single-product-pro .tagged_as a:hover { color: #283734; }


header {
	height: auto;
}

}

@media only screen and (max-width: 500px) {
	#top-divider {
		display: none;
	}
	#free-phone,
	#subscribe-newsletter {
		display: block;
	}
	body #main .width-container .related li.product.column-3,
	body #main .width-container li.product.column-2, body #main .width-container li.product.column-3, body #main .width-container li.product.column-4, .lt-ie8 body #main .width-container li.product.column-2, .lt-ie8 body #main .width-container li.product.column-3, .lt-ie8 body #main .width-container li.product.column-4,
	.footer-2-column .widget, .footer-3-column .widget, .footer-4-column .widget, #single-product-pro .images, #single-product-pro .entry-summary,
	.grid2column-progression, .grid3column-progression, .grid3columnbig-progression, .grid4column-progression, .grid4columnbig-progression,
	#sidebar, #content-container {
		width: 100%;
	}
	#sidebar {
		border-top: 1px solid #d7d7d7;
		padding-top: 35px;
	}
	
	body.home #main .width-container li.product.column-3 {
		width: 98%;
	}
	
	body.home #main .width-container li.product.column-3:nth-child(2n) {
		margin-right: 1%;
	}
	
	.display-posts-listing li {
		width: 98%;
	}
	
	.display-posts-listing li img {
		width: 100%;
	}
}

@media only screen and (max-width: 310px) {

.search-form input, #searchform input#s {
	width: 100%;	
	box-sizing: border-box;
}
.search-form input.search-submit,
#searchform input#searchsubmit {
	margin-top: 5px;
}

}