.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 935px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
		
		.woocommerce-tabs {
			margin-top: 0;
		}
		.r-tabs-accordion-title a {
			border-bottom: 1px solid #dfdfdf;
			padding: 10px;
			display: block;
		}
		.r-tabs-accordion-title a:after {
			content: '+';
			float: right;
			font-size: 24px;
			line-height: 0.9;
			width: 14px;
			text-align: center;
		}
		.r-tabs-accordion-title.r-tabs-state-active a:after {
			content: '-';
		}
}