/*

Theme Name: Maher Tours
Author: Roy Muir
Description: Theme for Maher Tours

*/


/*  Table of Contents
01. HTML5 ✰ BOILERPLATE RESET FILE
02. COLORS AND FONTS
	A. LOGO WIDTH 
	B. BACKGROUND COLORS
	C. FONT COLORS
	D. FONT FAMILIES
03. PRIMARY STYLES
	A. DEFAULT STYLES
	B. CSS3 TRANSITIONS
04. MAIN CONTAINERS
	A. HEADER STYLES
	B. MAIN CONTAINER STYLES
	C. SEARCH HEADER
05. HOMEPAGE STYLES
06. FOOTER STYLES
07. DEFAULT GRID
08. BUTTON STYLES
09. BLOG STYLES
10. WOOCOMMERCE STYLES
11. CONTACT FORM & MAP STYLES
12. SIDEBAR & WIDGET STYLES
13. FEATURED SLIDER
14. NAVIGATION
15. FONT AWESOME

*/


/*
=============================================== 01. HTML5 ✰ BOILERPLATE RESET FILE ===============================================
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.lt-ie8 .clearfix {visibility:hidden; width:0;height:0; clear:both;}
.sticky, .gallery-caption, .bypostauthor {}


/*
=============================================== 02. COLORS AND FONTS ===============================================
*/
/* -------------------- A. LOGO WIDTH -------------------- */
body #logo, body #logo img {  max-width:100%; }

/* -------------------- B. BACKGROUND COLORS -------------------- 
#header-top {background-color:#16252c; border-bottom:1px solid #253f4b;}
#subscribe-right {border-right:1px solid #253f4b;}
header, #search-container-pro {background-color:#16252c;}
#panel-search {background-color:#478484;}
#page-title, #single-product-pro {background-color:#b45947;}
#main {background-color:#fcfcfc;}
#featured-assistance-pro {background-color:#8bca81;}
#widget-area {background-color:#16242c;}
body, footer {background-color:#142128;}
.search-form input.search-submit, body #main a.button, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main input.button.checkout-button, body #main button.button, body #single-product-pro a.button, body #single-product-pro button.single_add_to_cart_button, body #single-product-pro input.button, body.woocommerce-cart #single-product-pro input.button.checkout-button, body #single-product-pro button.button,
.progression-button, body input.wpcf7-submit, body a.more-link, .page-numbers span.current, .page-numbers a:hover,
body a.ls-sc-button.default, body #main .width-container input#submit, body  #main .widget_price_filter .ui-slider .ui-slider-range,
body #searchform input#searchsubmit  {background:#68b95a;}
body #searchform input#searchsubmit:hover, 
.search-form input.search-submit:hover, body #main a.button:hover, body #main button.single_add_to_cart_button:hover, body #main input.button:hover, body.woocommerce-cart #main input.button.checkout-button:hover, body #main button.button:hover, body #single-product-pro a.button:hover, body #single-product-pro button.single_add_to_cart_button:hover, body #single-product-pro input.button:hover, body.woocommerce-cart #single-product-pro input.button.checkout-button:hover, body #single-product-pro button.button:hover,
.progression-button:hover, body #main .width-container input#submit:hover, body input.wpcf7-submit:hover, body a.more-link:hover, body a.ls-sc-button.default:hover,
body #main #sidebar button.button:hover, body #main #sidebar a.button:hover
 {background:#404040; color:#ffffff;}
*/

/* -------------------- C. FONT COLORS -------------------- 
#header-top, #header-top a {color:#cdeeff;}
#header-top a:hover {color:#ffffff;}
a, .button:before, #sidebar a:hover, #sidebar li.current-cat a, #sidebar li.current-cat-parent a, #sidebar li.current-cat, #sidebar li.current-cat-parent, #sidebar li.current-cat-parent li.current-cat,  #sidebar li.current-cat-parent li.current-cat a,
#sidebar li.current-cat li a:hover, #sidebar li.current-cat-parent li a:hover
 {color:#66b958;}
a:hover {color:#404040;}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 , h5 a, h6 a {color:#262626;}
*/



/* -------------------- D. FONT FAMILIES -------------------- */
h1, h3, h4, h5, h6, #panel-search input, .submit-button-pro, #bread-crumb, .meta-progression, .count-pro-cat {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight:400;
}

#searchform input#searchsubmit, .search-form input.search-submit, #sidebar, body #main .product-container-pro h3, .category-location-pro, .woocommerce-tabs li a, #cart-icon-pro a, #single-product-pro .entry-summary p.price, #header-top, body #main .width-container input#submit, .sf-menu, h2, #featured-assistance-pro h4, .progression-button, body a.more-link, input.wpcf7-submit, .page-numbers, body a.ls-sc-button.default,
body #main a.button, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main input.button.checkout-button, body #main button.button, body #single-product-pro a.button, body #single-product-pro button.single_add_to_cart_button, body #single-product-pro input.button, body.woocommerce-cart #single-product-pro input.button.checkout-button, body #single-product-pro button.button {
	font-family: 'Roboto Condensed', sans-serif;
}

body, body .sf-menu span.sf-sub-indicator {
	font-family:"Helvetica Neue", Helvetica, Arial, Sans-Serif;
}


/*
=============================================== 03. PRIMARY STYLES ===============================================
*/
/* -------------------- A. DEFAULT STYLES -------------------- */
body {font-size: 14px; line-height: 1.4; }
body a img, body a {outline:none !important; text-decoration:none;}
p {padding-top:0px; margin:0px;}
p, ul, ol {margin-bottom: 20px;}
#sidebar ul, #sidebar ol {margin-bottom:15px;}
ul, ol {margin-left:0px; padding-left:16px;}
img {max-width: 100%;height: auto;  width:auto;}
video, audio {max-width:100%;}
.alignnone, .alignleft, .alignright, .aligncenter {max-width:100% !important;}
h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px; line-height:1.2;}
h1 {font-size:50px;  margin-bottom:25px;}
h2 {font-size:52px;  font-weight:400; margin-bottom:15px; }
h3 {font-size:34px;  margin-bottom:15px; }
h4 {font-size:26px; margin-bottom:15px; }
#featured-assistance-pro h4 {font-weight:400;}
h5 {font-size:22px;  margin-bottom:12px; }
h6 {font-size:17px; margin-bottom:20px; font-weight:500; text-transform:uppercase; }
hr {background:transparent; border-bottom:1px solid #e1e1e1; border-top:none; margin:20px 0px;}
ul.checkmark, ul.arrow {padding-left:0px;}
ul.checkmark li, ul.arrow li {list-style:none; padding-left:18px;}
ul.checkmark li {background:url(images/checkmark.png) 0px 2px no-repeat;}
ul.arrow li {background:url(images/sidebar-arrow.png) -4px 0px no-repeat;}
.alignright {float:right; margin:0 0 10px 20px;}
.alignleft {float:left; margin:0px 20px 10px 0px;}
.aligncenter {text-align:center;  margin:0px auto 10px auto; display:block; }
blockquote {background:url(images/blockquote.png) 0px 0px no-repeat; padding-left:40px; font-style:italic; line-height:1.8;}
pre {border:1px solid #ddd; padding:7px 15px; background:#fff; overflow:auto; word-wrap: break-word; line-height:14px; margin-bottom:15px;}


/* -------------------- B. CSS3 TRANSITIONS -------------------- */
#searchform input#searchsubmit, .search-form input.search-submit, body #main .product-container-pro a h3, a, #cart-icon-pro i, .submit-button-pro, .social-ico i, input.wpcf7-submit, body a.ls-sc-button.default, body #main .width-container input#submit,
body #main a.button, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main input.button.checkout-button, body #main button.button, body #single-product-pro a.button, body #single-product-pro button.single_add_to_cart_button, body #single-product-pro input.button, body.woocommerce-cart #single-product-pro input.button.checkout-button, body #single-product-pro button.button  { 
	-webkit-transition-duration: 200ms;
	-webkit-transition-property: color, background, opacity, box-shadow;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-duration: 200ms;
	-moz-transition-property: color, background, opacity, box-shadow;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-duration: 200ms;
	-o-transition-property: color, background, opacity, box-shadow;
	-o-transition-timing-function: ease-in-out;
	transition-duration: 200ms;
	transition-property: color, background, opacity, box-shadow;
}

.flex-control-paging li a {-webkit-transition-duration: 0ms !important; -moz-transition-duration: 0ms !important; -o-transition-duration: 0ms !important; transition-duration: 0ms !important;}



/*
=============================================== 04. MAIN CONTAINERS ===============================================
*/
/* -------------------- A. HEADER STYLES -------------------- */
header {position:relative; width:100%; z-index:15;}
#header-top {padding:10px 0px 10px 0px; font-size:17px; font-weight:300; }
#information-top-left {float:left;}
#subscribe-right, #header-top .social-ico {float:right;}
#subscribe-right {font-size:16px; padding-right:10px; margin-right:4px; position: relative; z-index: 9; }
#subscribe-right i, .fa-file-o {padding-right:5px; position:relative; bottom:1px;}
.social-ico {display: none;}

#homepage-slider {background-color:#272727;}
header h1#logo {float:left; margin:0px; padding:0px; line-height:1;}

#page-title h3 {
	border:none;
	color:#ffffff;
	text-shadow:1px 1px 2px rgba(0,0,0,0.6);
	margin:0px;
	padding:24px 0px;
	float:left;
}

#bread-crumb {
	font-size:12px;
	text-transform:uppercase;
	color:#f1f1f1;
	padding:40px 0px 10px 0px;
	float:right;
}
#bread-crumb a:hover {color:#f1f1f1;}

#bread-crumb a {
	color:#c9c9c9;
}

nav a {}

/* -------------------- B. MAIN CONTAINER STYLES -------------------- */
#main {padding:44px 0px 35px 0px;}
.width-container {width:1140px; margin: 0 auto;}

/* -------------------- C. SEARCH HEADER -------------------- */
#panel-search {
	padding:25px 0px;
	text-align:center;
}
#panel-search .screen-reader-text {display:none;}
#panel-search input {
	width:68%; 
	font-size:22px; 
	padding:10px 15px; 
	color:#ffffff;
	text-shadow:1px 1px 2px rgba(0,0,0,0.4);
	background-color:#ffffff; 
	background-color:rgba(250,250,250,0.25); 
	border-top:1px solid rgba(250,250,250,0.25);   border-left:none;  border-right:none; border-bottom:none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
	-webkit-transition-duration: 250ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 250ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 250ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
	outline: none;
}
#panel-search input[type=text] {
-webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
 
}
#panel-search input[type=text]:focus {
	border-top:1px solid rgba(250,250,250,0.3);
  	box-shadow: 0 0 3px rgba(81, 203, 238, 1);
}
.search-field::-webkit-input-placeholder { color:#eeeeee; }
.search-field::-moz-placeholder { color:#ffffff; }
.search-field:-ms-input-placeholder { color:#eeeeee; }

#panel-search input.search-submit {
	width:auto;
	padding:0px 0px 0px 25px;
	background:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	width:105px;
	height:50px;
	top:-1px;
	left:0px;
	position:absolute;
	border:none;
}


.submit-button-pro {
	text-align:left;
	position:relative;
	display:inline-block;
	width:auto;
	font-size:22px; 
	padding:9px 18px 9px 15px; 
	color:#ffffff;
	text-shadow:1px 1px 2px rgba(0,0,0,0.2);
	background-color:#65b657;
	margin-left:8px;
	border-top:1px solid rgba(250,250,250,0.25);   border-left:none;  border-right:none; border-bottom:none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
	color:#ffffff;
}
.submit-button-pro span {
	font-size:18px;
	position:relative;
	top:-1px;
}

.submit-button-pro:hover {
	background-color:#7dc470;
}

.submit-button-pro:before {
	position:relative;
	top:-1px;
	font-size:17px;
        content:"\f14e";
		padding-right:2px;
		display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale
}



/*
=============================================== 05. HOMEPAGE STYLES ===============================================
*/
#featured-assistance-pro h4 {
	color:#ffffff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.25);
}

#featured-assistance-pro h4 a {
	color:#ffffff;
}

#featured-assistance-pro {
	color:#555555;
	text-align:center; 
	margin-top:35px;
	margin-bottom:-35px; 
	padding:38px 0px 30px 0px;
}
#featured-assistance-pro .width-container-pro {
	font-size:15px;
	margin:0 auto;
	width:70%;
}


/*
=============================================== 06. FOOTER STYLES ===============================================
*/
footer {border-top:1px solid rgba(250, 250, 250, 0.08);}
footer {padding:35px 0px 30px 0px;}
#copyright { color:#999999; }
#copyright .lastcolumn-progression { text-align:right; position:relative; bottom:2px;}

#widget-area .widget {padding:40px 0px 35px 0px;}
#widget-area h5 {color:#ffffff;}
footer a, #widget-area a {color:#cbb98e;}
footer a:hover, #widget-area a:hover {color:#ffffff;}


/*
=============================================== 07. DEFAULT GRID ===============================================
*/
.grid2column-progression, .grid3column-progression, .grid3columnbig-progression, .grid4column-progression, .grid4columnbig-progression {float:left; margin-right:3%; min-height:2px; }
.grid2column-progression { width: 48.5%;}
.grid3column-progression {width: 31.3%;  }
.lt-ie8 .grid3column-progression {width: 31%;  }
.grid3columnbig-progression {width:65.4%;}
.grid4column-progression {width: 22.7%;  }
.lt-ie8 .grid4column-progression {width: 22%;  }
.grid4columnbig-progression {width:73.8%; }

body .lastcolumn-progression {margin-right:0% !important;}

/* Footer Widget Columns */
.footer-2-column .widget, .footer-3-column .widget, .footer-4-column .widget {float:left; margin-left:1%; margin-right:1%; min-height:2px;}
.footer-2-column .widget { width: 48%; }
.footer-3-column .widget { width: 31%; }
.footer-4-column .widget {width: 23%;}

/* WooCommerce Columns */
body #main .width-container li.product.column-4 {margin-right:2%; width: 23.5%; }
body #main .width-container li.product.column-3 {margin-right:2%; width: 32%; }
body #main .width-container li.product.column-2 {margin-right:2%; width: 49%; }
.lt-ie8 body #main .width-container li.product.column-4 {margin-right:2%; width: 23%; }
.lt-ie8 body #main .width-container li.product.column-3 {margin-right:2%; width: 31%; }
.lt-ie8 body #main .width-container li.product.column-2 {margin-right:2%; width: 48.5%; }

body #main .width-container li.product.column-2.last, body #main .width-container li.product.column-3.last, body #main .width-container li.product.column-4.last, .lt-ie8 body #main .width-container li.product.column-2.last, .lt-ie8 body #main .width-container li.product.column-3.last, .lt-ie8 body #main .width-container li.product.column-4.last {margin-right:0%;}

body #main .width-container .related li.product.column-3 {width:31.3%;}
body #main .width-container .related li.product.column-3.last { clear:none !important;   margin-right:2% !important; }
body #main .width-container .related li.product.column-3.first {clear:none !important; margin-right:2%;}


body #main .width-container .columns-2 li.product {margin-left:1%;margin-right:1%; width: 48%; }
body #main .width-container .columns-3 li.product {margin-left:1%;margin-right:1%; width: 31.3%; }
body #main .width-container .columns-4 li.product {margin-left:1%;margin-right:1%; width: 23%; }

/*
=============================================== 08. BUTTON STYLES ===============================================
*/
#searchform input#searchsubmit, 
.search-form input.search-submit, body #main a.button, body #main button.single_add_to_cart_button, body #main input.button, body.woocommerce-cart #main input.button.checkout-button, body #main button.button, body #single-product-pro a.button, body #single-product-pro button.single_add_to_cart_button, body #single-product-pro input.button, body.woocommerce-cart #single-product-pro input.button.checkout-button, body #single-product-pro button.button,
body a.progression-button, body input.wpcf7-submit, body a.more-link, body a.ls-sc-button.default, body #main .width-container input#submit {
	text-decoration:none; line-height:1; cursor: pointer; display:inline-block; 
	width:auto;
	border:none;
	border-bottom:2px solid rgba(0,0,0,0.25);
	margin-right:0px;
	padding:12px 24px;
	font-size:14px;
	text-shadow:-1px -1px 1px rgba(0,0,0,0.18);
	font-weight:400;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
body a.ls-sc-button.default:hover {opacity:1;}

body .caption-progression a.ls-sc-button.default {
	padding:10px 18px;
	font-size:13px;
}

body #single-product-pro .woocommerce-error .button, body #single-product-pro .woocommerce-message .button  {
	padding:8px 16px;
	font-size:12px;
}



body #main #sidebar button.button, body #main #sidebar a.button {
	padding:8px 16px;
	font-size:12px;
	background:#dedede;
	color:#666666;
	text-shadow:none;
	font-weight:700;
}



/*
=============================================== 09. BLOG STYLES ===============================================
*/
.featured-img-progression p {padding:0px; margin:0px;}
.featured-img-progression {
	margin-bottom:15px;
	-moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.16);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16);
	border:1px solid #cecece;
}
.meta-progression {
	font-size:14px; 
	text-transform:uppercase; 
	margin-top:-8px;
	margin-bottom:14px;
}
.meta-progression i.fa {padding-left:5px;}
.meta-progression i.fa-clock-o {padding-left:0px; padding-right:2px;}

.content-blog-pro {border-bottom:1px solid #d9d9d9; margin-bottom:30px; padding-bottom:15px;}

/* Pagination Styles */
ul.page-numbers {
	margin:20px 0px 0px 0px; padding:0px; text-align:left;
}
ul.page-numbers li {
	margin:0px; padding:0px;
	display:inline-block;
}
.page-numbers span, .page-numbers a {
	text-decoration:none; line-height:1; cursor: pointer; display:inline-block; 
	font-weight:normal;
	margin-right:4px;
	padding:9px 14px;
	font-size:14px;
	font-weight:400;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}
.page-numbers span.current, .page-numbers a:hover {	
	color:#ffffff;
	border-bottom:2px solid rgba(0,0,0,0.25);
	text-shadow:-1px -1px 1px rgba(0,0,0,0.18);
}

/* Comments */
#comments {margin-top:35px;}
#respond h3, #comments h3.comments-title {font-size:21px;}

h3 a#cancel-comment-reply-link {font-size:13px;}
.commentlist {
	float:left;
	list-style: none;
	margin: 0 auto;
	width:80%;
	position:relative;
	left:101px;
}

.commentlist li.comment {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fbfbfb;
	border:1px solid #e1e1e1; 
	margin: 0 0 1.625em 0 !important;
	padding: 0.2em 1.4em 0.25em 1.4em;
	list-style:none ;
	position: relative;
}
.commentlist .avatar {left: -102px; -webkit-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc; -moz-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc;  padding: 0; position: absolute; top: 0;}
.commentlist .pingback { margin: 0 0 1.625em; padding: 0 1.625em; }
ol.commentlist ul.children, ol.commentlist ul.children  li {
	list-style: none ;
	margin:0px;
}
.commentlist .children li.comment {
	border-right:none;
	border-top:none;
	border-bottom:none;
	border-left: 1px solid #dadada;
	margin: 0em 0 0 0;
	padding:1em 1.6em 0em 2em;
	position: relative;
}
.commentlist .avatar {left: -102px; -webkit-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc; -moz-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc;  padding: 0; position: absolute; top: 0px;}
.commentlist .pingback { margin: 0 0 1.625em; padding: 0 1.625em; }
ol.commentlist ul.children, ol.commentlist ul.children  li {
	list-style: none;
	margin:0px;
}

.commentlist .children li.comment .avatar {top:10px;}
.commentlist .children li.comment .fn { display: block; font-size:12px;}
.comment-meta .fn {font-weight: bold; display: block; font-size:14px; color:#4c4c4c;}
.comment-meta .fn a {font-weight:bold;}
.comment-meta a {text-decoration:none;}
.comment-meta {
	color: #666;
	font-size: 11px;
	padding-top:12px;
	padding-bottom:8px;
}
.commentlist .children li.comment .comment-meta {
	margin-left:62px ;
	padding-top:0px;
}
.commentlist .children li.comment .comment-content {
	margin: 0;
	margin-top:25px;
	padding:0px;
}

.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {}
.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -10px;
	top:10px;
	position: absolute;
}
.commentlist > li.pingback:before { content: ''; }
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding:0px;
	top: 2.2em;
	width:55px;
	height:auto;
}

a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}
.commentlist > li.pingback:before { content: ''; }
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding:0px;
	top: 2.2em;
}
a.comment-reply-link {
	background: #e4e4e4;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #666;
	display: inline-block;
	font-size: 10px;
	font-family:Arial, Sans-serif;
	padding: 2px 9px;
	text-decoration: none;
	margin-bottom:20px;
}

p.comment-notes {font-size:13px;}
p.form-allowed-tags {font-size:11px; line-height:16px;}
p.form-allowed-tags code {display:block;}


#respond label {padding-left: 0px; }
#respond input, #respond textarea {display:block; margin-top:2px;}
#respond input#submit {width:auto; text-shadow:none;}


/* Post Navigation Next Previous */
#nav-below h1 {display:none;}
#nav-below { 
	width:100%; overflow:hidden;
	font-size:15px; 
	margin:25px 0px 5px 0px; 
	 border:1px solid #d0d0d0;
}
#nav-below .nav-previous {float:left; width:50%; text-align:center; border-right:1px solid #d0d0d0;  margin-right:-2px;}
#nav-below .nav-next {float:right; width:50%;  text-align:center; border-left:1px solid #d0d0d0;  margin-left:-1px; }
#nav-below span {font-size:18px; position:relative; bottom:0px;}
#nav-below a {display:block; padding:20px 20px; color:#666666;}

#nav-below .nav-previous a {background:#ffffff; }
#nav-below .nav-next a:hover {background:#f5f5f5;}
#nav-below .nav-previous a:hover {background:#f5f5f5;}



/*
=============================================== 10. WOOCOMMERCE STYLES ===============================================
*/
body.woocommerce img {margin:0px; padding:0px; border:none !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important;}
body.woocommerce-page .woocommerce header {background:none;} 
body mark, body ins, body del {background:none;}

/* Pricing */
body .product .price, body .product .amount, body.single-product  .related .product .price, body.single-product  .related .product .amount {
	color:#262626;
	font-size:14px;
}

body #siebar  .price {
	color:#262626;
	font-size:14px;
}

body .product .price del .amount, body.single-product .related .product .price del .amount {color:#bbbbbb; font-size:12px;}

body.single-product .product .price, body.single-product .product .amount {
	font-size:17px;
	color:#ffffff;
	font-weight:normal;
	margin-bottom:5px;
}
body.single-product .product .price del .amount {color:#999; font-size:14px;}


.count-pro-cat {
	font-size:16px;
}

/* Product Index */
.added_to_cart, .woocommerce-breadcrumb {display:none !important; }

.product-container-pro {
	border:1px solid #d6d6d6;
	padding:14px 14px 10px 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
body .product-container-pro .button {margin-bottom:10px;}
body #main .width-container .product-container-pro .product-image-pro img {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
body #main .width-container .product-container-pro .product-image-pro {
	margin-left:-14px;
	margin-right:-14px;
	margin-top:-14px;
}

.category-location-pro, .category-location-pro a {
	color:#b5b5b5;
	font-weight:400;
	margin-top:2px;
	font-size:15px;
}
.category-location-pro a:hover {color:#a1a1a1;}

body #main .product-container-pro h3 {
	font-size:22px; 
	font-weight:400;
	margin-top:-5px;
}

body #main .product-category h3 {
	margin-bottom:-4px;
}

/* ----- OnSale Icon ----- */
body.woocommerce .width-container span.onsale {
	z-index:5;
	left:auto;
	position:absolute;
	min-height:15px;
	min-width:32px;
	max-width:34px;
	padding:5px 8px;
	font-size:13px;
	font-weight:bold;
	line-height:1;
	top:20px !Important;
	right:20px !important;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#ffffff;
	background:#f18a8a;
	background: rgba(238, 109, 109, 0.85);
	text-shadow: 1px 0px 1px rgba(0,0,0,0.4); 
	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}

	 
/* Single Product */
body #single-product-pro form.cart {margin-bottom:5px;}

#single-product-pro .width-container {
	padding:35px 0px 35px 0px;
	border-top:1px solid rgba(250,250,250,0.25); 
}

#single-product-pro .images {
	float:right;
	width:69%;
}
#single-product-pro .entry-summary {
	color:#e8e7e7;
	float:left;
	width:25%;
	padding:28px 18px;
	background-color:#000000; 
	background-color: rgba(0, 0, 0, 0.1); 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#single-product-pro .entry-summary h4 {
	color:#ffffff;
	text-shadow:1px 1px 2px rgba(0,0,0,0.25);
	margin-bottom:10px;
}
#single-product-pro .entry-summary p.price {
	font-size:16px;
	font-weight:700;
	margin:0px 0px 5px 0px;
}

#single-product-pro .posted_in, #single-product-pro .tagged_as {
	display:block;
	font-weight:bold;
	padding:5px 0px 0px 0px;
	margin:0px;
}

#single-product-pro .posted_in i, #single-product-pro .tagged_as i { width:17px; text-align:center;}
#single-product-pro .posted_in a, #single-product-pro .tagged_as a {
	color:#e8e7e7;
	font-weight:normal;
	font-size:12px;
}
#single-product-pro .posted_in a:hover, #single-product-pro .tagged_as a:hover {
	color:#ffffff;
}

#single-product-pro .entry-summary button {
	margin-bottom:10px;
}

.related.products {
	border-top:1px solid #dfdfdf;
	margin-top:40px;
	padding-top:35px;
}
	
.woocommerce-tabs h2, .related.products h2 {
	font-size:25px;
}


/* CHeckout Styles */
.product-remove a.remove:hover {background:transparent !important;}
.woocommerce table.cart .product-remove a.remove {color:#bbbbbb;}
.woocommerce table.cart .product-remove a.remove:hover {color:#999999 ;}


/* Image Gallery */
body.woocommerce #content div.product div.thumbnails a, body.woocommerce div.product div.thumbnails a,
body.woocommerce-page #content div.product div.thumbnails a, body.woocommerce-page div.product div.thumbnails a {
    width: 9.7%;
	margin-bottom:5px;
    margin-right: 1.5%;
}



/* Quantity */
body  .width-container div.quantity input[type='number']::-webkit-outer-spin-button,
body  .width-container div.quantity input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body  .width-container div.quantity input.minus, body  .width-container div.quantity input.plus {height:20px; background:#eee;}
body   .width-container div.quantity input.input-text {padding-top:4px; padding-bottom:5px;}

/* Variations */
a.reset_variations {color:#eeeeee; font-size:12px;}
.variations {max-width:80%;}


/* Single Product Tabbed Area */
.woocommerce-tabs {margin-top:-82px; }
.woocommerce-tabs .tabs li {font-size:15px;}
body #main .width-container .woocommerce-tabs ul.tabs {border:none !important; }
body #main .width-container .woocommerce-tabs .tabs li a {font-weight:400;  color:#ffffff;  font-size:16px;text-shadow:none;}
body #main .width-container .woocommerce-tabs .tabs li.active {background:#fcfcfc; }
body #main .width-container .woocommerce-tabs .tabs li.active a { color:#262626;}
body #main .width-container .woocommerce-tabs .tabs li { 
	margin-right:6px;
	background:none;
	background:rgba(0, 0, 0, 0.2);
	border:none;
	text-shadow:none;
	box-shadow:none ; -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;
}
body #main .width-container .woocommerce-tabs .tabs:after, body #main .width-container .woocommerce-tabs .tabs:before {display:none;}
body #main .width-container .woocommerce-tabs .tabs li:after, body #main .width-container .woocommerce-tabs .tabs li:before {display:none;}


/* ----- Star Rating ----- */
body .stars a {color:#aaa;}
body .star-rating span {color:#ffbb26;}
body .star-1:hover, body .star-2:hover, body .star-3:hover, body .star-4:hover, body .star-5:hover {color:#ffbb26;}
body .stars .active {color:#ffbb26;}
body .woocommerce-review-link {font-size:12px; color:#eeeeee;}


/* --- Price Filter --- */
body #main .widget_price_filter .ui-slider .ui-slider-handle {
background:#dedee1;	
border:1px solid #575757;cursor:pointer;
background:-webkit-gradient(linear,left top,left bottom,from(#dedee1),to(#dedee1));
background:-webkit-linear-gradient(#dedee1,#dedee1);
background:-moz-linear-gradient(center top,#dedee1 0,#dedee1 100%);
background:-moz-gradient(center top,#dedee1 0,#dedee1 100%);
}

body #main .price_slider_wrapper .ui-widget-content{
background:#17252c;
}

/* ----- WooCommerce Reviews ----- */
body.woocommerce #reviews #comments ol.commentlist {position:static; left:0px; float:none; width:98%;}
body.woocommerce #reviews #comments ol.commentlist li img { padding:0px !important;}
body.woocommerce .commentlist li  {box-shadow:none ; -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;  }
body.woocommerce #reviews #comments ol.commentlist li .comment-text {border-color:#ccc;}


/* Cart Styles */
.cart_totals  h2, .shipping_calculator  h2 {
	font-size:24px;
}


/*
=============================================== 11. CONTACT FORM & MAP STYLES ===============================================
*/
#main .googlemap {
	margin-bottom:20px;
	-moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.16);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16);
	border:1px solid #cecece;
}
span.required {color:#da5454;}
.wpcf7 {font-size:14px;}
.wpcf7 input, .wpcf7 textarea, #respond textarea, #respond input, .woocommerce form input, .woocommerce form textarea {
	padding:8px 8px;
	margin-top:2px;
	border-top:1px solid #cecece;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#f2f2f2;
	font-size:13px;
}

.woocommerce form input {
	margin-top:0px;
}

.wpcf7 input.wpcf7-not-valid, .wpcf7 textarea.wpcf7-not-valid {
	border-color:#eab7b7; 
	border-style:dotted;
	background:#fbe8e8;
}
.wpcf7-not-valid-tip {display:none !important;}
.wpcf7 input, #respond input {width:50%;}
.wpcf7 textarea, #respond textarea {width:70%;}



/*
=============================================== 12. SIDEBAR & WIDGET STYLES ===============================================
*/
body.page-template-contact-full #content-container, body.page-template-page-full-width-php #content-container {width:100%; float:none;}
#content-container {float:right; width:69%;}
#sidebar {float:left; width:22%; font-size:15px;}

#main .page-sidebar-pro {
	margin-top:-44px; padding-top:44px;
	margin-bottom:-35px; padding-bottom:35px;
	background:url(images/sidebar-bg.png) 50px 0px repeat-y;
}

#sidebar, #sidebar a {
	color:#6e6e6e;
}

#sidebar li.current-cat li a, #sidebar li.current-cat li,  #sidebar li.current-cat-parent li,  #sidebar li.current-cat-parent li a  {
	color:#6e6e6e;
}

.sidebar-divider {
	width:100%;
	border-bottom:1px solid #d7d7d7;
	padding-bottom:20px;
	margin-bottom:30px;
}

body #main .widget_price_filter .sidebar-divider {
	padding-bottom:26px;
}

/* Top Rated Products */
#sidebar ul.product_list_widget {
	list-style:none;
	margin:0px 0px -5px 0px; 
	padding:0px;
}
#sidebar ul.product_list_widget li {
	list-style:none;
	padding:0px;
	margin:0px 0px 15px 0px;
}

/* Search Styling */
.search-form, #searchform  {
	padding-bottom:10px;
}

.search-form input.search-submit, #searchform input#searchsubmit {
	padding:10px;
	font-size:13px;
	
}

.search-form .screen-reader-text, #searchform .screen-reader-text {display:none;}
.search-form input, #searchform input#s {
	width:60%;
	padding:10px;
	margin-top:2px;
	border-top:1px solid #cecece;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#ffffff;
	font-size:13px;
}

#main .search-field::-webkit-input-placeholder { color:#999999; }
#main .search-field::-moz-placeholder { color:#999999; }
#main .search-field:-ms-input-placeholder { color:#999999; }

/* Sidebar List */
#sidebar ul {
	margin:5px 0px 5px 0px; 
	padding-left:15px;
	list-style:circle;
}
#sidebar ul ul {
	list-style:circle;
}
#sidebar ul li {
	padding:0px;
	margin-bottom:5px;
}

#sidebar li.current-cat, #sidebar li.current-cat-parent {
	list-style:disc;
}


/* Tabs Shortcode  */
body .ls-sc-tabs ul.ui-tabs-nav .ui-state-active a {
  height: 40px;
  top:-3px;
  padding-top: 3px;
 
}

/* --- Flickr Widget --- */
#flickr-widget ul {margin-left:0px; margin-bottom:15px; padding-left:0px; background:none; }
#flickr-widget ul li { padding:0px; margin:0px; list-style:none; display:inline; border:none; background:transparent;}
#flickr-widget ul li a {display:inline;  padding:0px;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease; }
#flickr-widget ul li img { background:#fff; width:67px; height:67px;  margin:0px 10px 10px 0px;}
#flickr-widget ul li a:hover { opacity: 0.7; filter:alpha(opacity=70); }
#sidebar #flickr-widget ul li img {width:70px; height:70px;}


/* Calendar */
#wp-calendar caption {
	border:1px solid #ccc;
	font-size:18px;
	padding:3px 0px;
}
#wp-calendar th {
padding:3px 0;
text-align:center;
border:1px solid #ccc;
}

#wp-calendar td {
padding: 4px 0;
text-align: center;
border:1px solid #ccc;
}

#wp-calendar {
width: 90%;
}



/*
=============================================== 13. FEATURED SLIDER ===============================================
*/
/* -------------------- B. FEATURED SLIDER -------------------- */

header nav {-webkit-font-smoothing: subpixel-antialiased; } /*Fix for Anti-Aliased Movement on sliding with css3 turned on */

 /* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { display: block; width:100%; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin:0px auto; position: relative; zoom: 1; /*  overflow:hidden; */ }
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px;}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {background-color:#161616;}
.flex-direction-nav a:hover {background-color:#161616;}
.flex-direction-nav a {z-index:46;  width: 36px; height: 60px; margin: -30px 0 0; display: block; background-image: url(images/slider/arrows.png); background-repeat: no-repeat; background-position: bottom left; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;  -moz-transition: all .3s ease; transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: bottom right; right: 0px; }
.flex-direction-nav .flex-prev {background-position: bottom left;  left: 0px;}
.flexslider:hover .flex-next {opacity: 0.75; right: 0px;}
.flexslider:hover .flex-prev {opacity: 0.75; left: 0px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled, #carousel-pro .flex-direction-nav .flex-disabled {display:none; opacity: 0!important; filter:alpha(opacity=0); cursor: default;}

#main .flex-direction-nav .flex-next { right: 0px; }
#main .flex-direction-nav .flex-prev {left: 0px;}


/* Control Nav */
.flex-control-nav { z-index:5; width: 100%; position: absolute; bottom: 20px; text-align: center; }
.flex-control-nav li {margin: 0 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 16px; height: 16px; display: block; background: url(images/slider/slider-bullets.png) 0px -25px no-repeat;  cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover { background-position:0px -48px; }
.flex-control-paging li a.flex-active {  background-position:0px -2px; cursor: default; }
body #main .flex-control-paging li a { -webkit-transition: none; -moz-transition: none; none; -o-transition: none; }


.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.lt-ie9 .flex-direction-nav .flex-prev {opacity: 1; left: 15px;}
.lt-ie9 .flex-direction-nav .flex-next {opacity: 1; right: 15px;}


@media screen and (max-width: 940px) {
  .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {display:none !important;}
}

/* Caption style */
ul.slides li {
	position:relative;
}
.caption-progression {
	height: 50%;
	z-index:45;  
	margin: auto;
	padding-top:0px;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
li.caption-right-progression .caption-box-pro {float:right;}

li.caption-center-progression .caption-box-pro {margin-left:auto; margin-right:auto; }

.lt-ie9 .caption-box-pro .ls-sc-button {display:none !important;}

.caption-box-pro {
	width:48%; 
	padding:45px 0px 10px 0px;
	background-color:#000000; 
	background-color: rgba(250, 250, 250, 0.12); 
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
}

.caption-box-pro.dark-pro { background-color: rgba(0, 0, 0, 0.36); }

.caption-box-pro h2, .text-caption-pro {
	padding:0px 40px;
}

.caption-box-pro h2 {
	color:#ffffff;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.caption-box-pro .text-caption-pro {
	color:#ffffff;
	font-size:15px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.caption-box-pro a, .caption-box-pro a:hover {
	color:#ffffff;
}

/*
=============================================== 14. NAVIGATION ===============================================
*/
/* -------------------- A. ESSENTIAL STYLES -------------------- */
/*** ESSENTIAL STYLES ***/
nav { float:right; position:relative; z-index:15; }
nav select {display:none;}
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu li { position: relative; }
.sf-menu ul { position: absolute; display: none; top: 100%; left: 0; z-index: 99; }
.sf-menu > li { float: left; }
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul { display: block;}
.sf-menu a { display: block; position: relative;}
.sf-menu ul ul {top: 0; left: 100%;}


/*** DEMO SKIN ***/
nav div {display:inline;}
#cart-icon-pro {float:right; }
#cart-icon-pro a {
	padding-left:22px;
	font-weight:400;
	font-size:17px;
	position:relative; top:10px;
}
#cart-icon-pro i { font-size:16px; padding-right:5px; }

.sf-menu {float: right;}
.sf-menu ul {
	min-width: 8em; /* allow long menu items to determine submenu width */
	*width: 8em; /* no auto sub width for IE7, see white-space comment below */
}

.sf-menu a {
	padding:18px 22px;
	line-height:1;
	text-decoration: none;
	zoom: 1; /* IE7 */
	font-weight:400;
	font-size:17px;
}



.sf-menu li:last-child a {margin-right:0px;}

.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
}

.sf-menu ul li a, .sf-menu ul li a:visited {font-size:13px; }


.sf-menu li li a {padding:14px 0px 14px 25px; margin:0px; }



.sf-menu li.sfHover li a, .sf-menu li.sfHover li a:visited, .sf-menu li.sfHover li li a, .sf-menu li.sfHover li li a:visited, .sf-menu li.sfHover li li li a, .sf-menu li.sfHover li li li a:visited, .sf-menu li.sfHover li li li li a, .sf-menu li.sfHover li li li li a:visited {
	border:none;
	border-top:1px solid rgba(255, 255, 255, 0.1);
}


.sf-menu li li:hover, .sf-menu li li.sfHover, .sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active, .sf-menu li li.sfHover a, .sf-menu li.sfHover li a:visited:hover, .sf-menu li li:hover a:visited,
.sf-menu li li li:hover, .sf-menu li li li.sfHover, .sf-menu li li li a:focus, .sf-menu li li li a:hover, .sf-menu li li li a:active, .sf-menu li li li.sfHover a, .sf-menu li li.sfHover li a:visited:hover, .sf-menu li li li:hover a:visited,
.sf-menu li li li li:hover, .sf-menu li li li li.sfHover, .sf-menu li li li li a:focus, .sf-menu li li li li a:hover, .sf-menu li li li li a:active, .sf-menu li li li li.sfHover a, .sf-menu li li li.sfHover li a:visited:hover, .sf-menu li li li li:hover a:visited,
.sf-menu li li li li li:hover, .sf-menu li li li li li.sfHover, .sf-menu li li li li li a:focus, .sf-menu li li li li li a:hover, .sf-menu li li li li li a:active, .sf-menu li li li li li.sfHover a, .sf-menu li li li li.sfHover li a:visited:hover, .sf-menu li li li li li:hover a:visited  {
	outline: 0;
	background-image:url(images/transparency-fallback.png);
	background: rgba(255, 255, 255, 0.03);
}

.sf-menu .sf-sub-indicator {
	position:relative;
	top:0px;
	font-size:15px;
	left:4px;
}

ul.sub-menu .sf-sub-indicator {
	display:none !important;
}


/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}




/*
=============================================== 15. FONT AWESOME ===============================================
*/
.social-ico {
	font-size:15px;
} 

.social-ico a i {
	line-height:1;
	display:inline-block;
	margin-left:8px;
	vertical-align:top;
	text-shadow:1px 1px 1px rgba(0,0,0,.1);
	color:#ffffff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding:4px 0px;
	min-width:24px;
	text-align:center;
}

.social-ico a:hover i { color:#ffffff; text-decoration:none;}

.social-ico a .fa-twitter {background-color:#09aeec; }
.social-ico a:hover .fa-twitter {background-color:#09c4ec; }
.social-ico a .fa-facebook {background-color:#3b64a1; }
.social-ico a:hover .fa-facebook {background-color:#4476bf; }
.social-ico a .fa-youtube {background-color:#e22d26; }
.social-ico a:hover .fa-youtube {background-color:#f83217; }
.social-ico a .fa-vimeo-square {background-color:#26bbe9; }
.social-ico a:hover .fa-vimeo-square {background-color:#22d3f3; }
.social-ico a .fa-google-plus {background-color:#d1432f; }
.social-ico a:hover .fa-google-plus {background-color:#f03a21; }
.social-ico a .fa-pinterest {background-color:#f44647; }
.social-ico a:hover .fa-pinterest {background-color:#ff5c5c; }
.social-ico a .fa-dribbble {background-color:#cb3d73; }
.social-ico a:hover .fa-dribbble {background-color:#e04c84; }
.social-ico a .fa-linkedin {background-color:#0279b3; }
.social-ico a:hover .fa-linkedin {background-color:#1092d1; }
.social-ico a .fa-instagram {background-color:#437297; }
.social-ico a:hover .fa-instagram {background-color:#4e84af; }
.social-ico a .fa-flickr {background-color:#fd1e81; }
.social-ico a:hover .fa-flickr {background-color:#ff4e9d; }
.social-ico a .fa-tumblr {background-color:#4b5e74; }
.social-ico a:hover .fa-tumblr {background-color:#596f88; }


/* @font-face{font-family:'FontAwesome';src:url('font-awesome/fonts/fontawesome-webfont.eot?v=4.0.1');src:url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font-awesome/fonts/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font-awesome/fonts/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal} */
.fa{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.fa-lg{font-size:1.333333333333333em;line-height:.75em;vertical-align:-15%}
.fa-2x{font-size:2em}
.fa-3x{font-size:3em}
.fa-4x{font-size:4em}
.fa-5x{font-size:5em}
.fa-fw{width:1.2857142857142858em;text-align:center}
.fa-ul{padding-left:0;margin-left:2.142857142857143em;list-style-type:none}.fa-ul>li{position:relative}
.fa-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;top:.14285714285714285em;text-align:center}.fa-li.fa-lg{left:-1.8571428571428572em}
.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}
.pull-right{float:right}
.pull-left{float:left}
.fa.pull-left{margin-right:.3em}
.fa.pull-right{margin-left:.3em}
.fa-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}
@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)} 100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)} 100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)} 100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)} 100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)} 100%{transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}
.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1, 1);-moz-transform:scale(-1, 1);-ms-transform:scale(-1, 1);-o-transform:scale(-1, 1);transform:scale(-1, 1)}
.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-moz-transform:scale(1, -1);-ms-transform:scale(1, -1);-o-transform:scale(1, -1);transform:scale(1, -1)}
.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}
.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}
.fa-stack-1x{line-height:inherit}
.fa-stack-2x{font-size:2em}
.fa-inverse{color:#fff}
.fa-glass:before{content:"\f000"}
.fa-music:before{content:"\f001"}
.fa-search:before{content:"\f002"}
.fa-envelope-o:before{content:"\f003"}
.fa-heart:before{content:"\f004"}
.fa-star:before{content:"\f005"}
.fa-star-o:before{content:"\f006"}
.fa-user:before{content:"\f007"}
.fa-film:before{content:"\f008"}
.fa-th-large:before{content:"\f009"}
.fa-th:before{content:"\f00a"}
.fa-th-list:before{content:"\f00b"}
.fa-check:before{content:"\f00c"}
.fa-times:before{content:"\f00d"}
.fa-search-plus:before{content:"\f00e"}
.fa-search-minus:before{content:"\f010"}
.fa-power-off:before{content:"\f011"}
.fa-signal:before{content:"\f012"}
.fa-gear:before,.fa-cog:before{content:"\f013"}
.fa-trash-o:before{content:"\f014"}
.fa-home:before{content:"\f015"}
.fa-file-o:before{content:"\f016"}
.fa-clock-o:before{content:"\f017"}
.fa-road:before{content:"\f018"}
.fa-download:before{content:"\f019"}
.fa-arrow-circle-o-down:before{content:"\f01a"}
.fa-arrow-circle-o-up:before{content:"\f01b"}
.fa-inbox:before{content:"\f01c"}
.fa-play-circle-o:before{content:"\f01d"}
.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}
.fa-refresh:before{content:"\f021"}
.fa-list-alt:before{content:"\f022"}
.fa-lock:before{content:"\f023"}
.fa-flag:before{content:"\f024"}
.fa-headphones:before{content:"\f025"}
.fa-volume-off:before{content:"\f026"}
.fa-volume-down:before{content:"\f027"}
.fa-volume-up:before{content:"\f028"}
.fa-qrcode:before{content:"\f029"}
.fa-barcode:before{content:"\f02a"}
.fa-tag:before{content:"\f02b"}
.fa-tags:before{content:"\f02c"}
.fa-book:before{content:"\f02d"}
.fa-bookmark:before{content:"\f02e"}
.fa-print:before{content:"\f02f"}
.fa-camera:before{content:"\f030"}
.fa-font:before{content:"\f031"}
.fa-bold:before{content:"\f032"}
.fa-italic:before{content:"\f033"}
.fa-text-height:before{content:"\f034"}
.fa-text-width:before{content:"\f035"}
.fa-align-left:before{content:"\f036"}
.fa-align-center:before{content:"\f037"}
.fa-align-right:before{content:"\f038"}
.fa-align-justify:before{content:"\f039"}
.fa-list:before{content:"\f03a"}
.fa-dedent:before,.fa-outdent:before{content:"\f03b"}
.fa-indent:before{content:"\f03c"}
.fa-video-camera:before{content:"\f03d"}
.fa-picture-o:before{content:"\f03e"}
.fa-pencil:before{content:"\f040"}
.fa-map-marker:before{content:"\f041"}
.fa-adjust:before{content:"\f042"}
.fa-tint:before{content:"\f043"}
.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}
.fa-share-square-o:before{content:"\f045"}
.fa-check-square-o:before{content:"\f046"}
.fa-move:before{content:"\f047"}
.fa-step-backward:before{content:"\f048"}
.fa-fast-backward:before{content:"\f049"}
.fa-backward:before{content:"\f04a"}
.fa-play:before{content:"\f04b"}
.fa-pause:before{content:"\f04c"}
.fa-stop:before{content:"\f04d"}
.fa-forward:before{content:"\f04e"}
.fa-fast-forward:before{content:"\f050"}
.fa-step-forward:before{content:"\f051"}
.fa-eject:before{content:"\f052"}
.fa-chevron-left:before{content:"\f053"}
.fa-chevron-right:before{content:"\f054"}
.fa-plus-circle:before{content:"\f055"}
.fa-minus-circle:before{content:"\f056"}
.fa-times-circle:before{content:"\f057"}
.fa-check-circle:before{content:"\f058"}
.fa-question-circle:before{content:"\f059"}
.fa-info-circle:before{content:"\f05a"}
.fa-crosshairs:before{content:"\f05b"}
.fa-times-circle-o:before{content:"\f05c"}
.fa-check-circle-o:before{content:"\f05d"}
.fa-ban:before{content:"\f05e"}
.fa-arrow-left:before{content:"\f060"}
.fa-arrow-right:before{content:"\f061"}
.fa-arrow-up:before{content:"\f062"}
.fa-arrow-down:before{content:"\f063"}
.fa-mail-forward:before,.fa-share:before{content:"\f064"}
.fa-resize-full:before{content:"\f065"}
.fa-resize-small:before{content:"\f066"}
.fa-plus:before{content:"\f067"}
.fa-minus:before{content:"\f068"}
.fa-asterisk:before{content:"\f069"}
.fa-exclamation-circle:before{content:"\f06a"}
.fa-gift:before{content:"\f06b"}
.fa-leaf:before{content:"\f06c"}
.fa-fire:before{content:"\f06d"}
.fa-eye:before{content:"\f06e"}
.fa-eye-slash:before{content:"\f070"}
.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}
.fa-plane:before{content:"\f072"}
.fa-calendar:before{content:"\f073"}
.fa-random:before{content:"\f074"}
.fa-comment:before{content:"\f075"}
.fa-magnet:before{content:"\f076"}
.fa-chevron-up:before{content:"\f077"}
.fa-chevron-down:before{content:"\f078"}
.fa-retweet:before{content:"\f079"}
.fa-shopping-cart:before{content:"\f07a"}
.fa-folder:before{content:"\f07b"}
.fa-folder-open:before{content:"\f07c"}
.fa-resize-vertical:before{content:"\f07d"}
.fa-resize-horizontal:before{content:"\f07e"}
.fa-bar-chart-o:before{content:"\f080"}
.fa-twitter-square:before{content:"\f081"}
.fa-facebook-square:before{content:"\f082"}
.fa-camera-retro:before{content:"\f083"}
.fa-key:before{content:"\f084"}
.fa-gears:before,.fa-cogs:before{content:"\f085"}
.fa-comments:before{content:"\f086"}
.fa-thumbs-o-up:before{content:"\f087"}
.fa-thumbs-o-down:before{content:"\f088"}
.fa-star-half:before{content:"\f089"}
.fa-heart-o:before{content:"\f08a"}
.fa-sign-out:before{content:"\f08b"}
.fa-linkedin-square:before{content:"\f08c"}
.fa-thumb-tack:before{content:"\f08d"}
.fa-external-link:before{content:"\f08e"}
.fa-sign-in:before{content:"\f090"}
.fa-trophy:before{content:"\f091"}
.fa-github-square:before{content:"\f092"}
.fa-upload:before{content:"\f093"}
.fa-lemon-o:before{content:"\f094"}
.fa-phone:before{content:"\f095"}
.fa-square-o:before{content:"\f096"}
.fa-bookmark-o:before{content:"\f097"}
.fa-phone-square:before{content:"\f098"}
.fa-twitter:before{content:"\f099"}
.fa-facebook:before{content:"\f09a"}
.fa-github:before{content:"\f09b"}
.fa-unlock:before{content:"\f09c"}
.fa-credit-card:before{content:"\f09d"}
.fa-rss:before{content:"\f09e"}
.fa-hdd-o:before{content:"\f0a0"}
.fa-bullhorn:before{content:"\f0a1"}
.fa-bell:before{content:"\f0f3"}
.fa-certificate:before{content:"\f0a3"}
.fa-hand-o-right:before{content:"\f0a4"}
.fa-hand-o-left:before{content:"\f0a5"}
.fa-hand-o-up:before{content:"\f0a6"}
.fa-hand-o-down:before{content:"\f0a7"}
.fa-arrow-circle-left:before{content:"\f0a8"}
.fa-arrow-circle-right:before{content:"\f0a9"}
.fa-arrow-circle-up:before{content:"\f0aa"}
.fa-arrow-circle-down:before{content:"\f0ab"}
.fa-globe:before{content:"\f0ac"}
.fa-wrench:before{content:"\f0ad"}
.fa-tasks:before{content:"\f0ae"}
.fa-filter:before{content:"\f0b0"}
.fa-briefcase:before{content:"\f0b1"}
.fa-fullscreen:before{content:"\f0b2"}
.fa-group:before{content:"\f0c0"}
.fa-chain:before,.fa-link:before{content:"\f0c1"}
.fa-cloud:before{content:"\f0c2"}
.fa-flask:before{content:"\f0c3"}
.fa-cut:before,.fa-scissors:before{content:"\f0c4"}
.fa-copy:before,.fa-files-o:before{content:"\f0c5"}
.fa-paperclip:before{content:"\f0c6"}
.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}
.fa-square:before{content:"\f0c8"}
.fa-reorder:before{content:"\f0c9"}
.fa-list-ul:before{content:"\f0ca"}
.fa-list-ol:before{content:"\f0cb"}
.fa-strikethrough:before{content:"\f0cc"}
.fa-underline:before{content:"\f0cd"}
.fa-table:before{content:"\f0ce"}
.fa-magic:before{content:"\f0d0"}
.fa-truck:before{content:"\f0d1"}
.fa-pinterest:before{content:"\f0d2"}
.fa-pinterest-square:before{content:"\f0d3"}
.fa-google-plus-square:before{content:"\f0d4"}
.fa-google-plus:before{content:"\f0d5"}
.fa-money:before{content:"\f0d6"}
.fa-caret-down:before{content:"\f0d7"}
.fa-caret-up:before{content:"\f0d8"}
.fa-caret-left:before{content:"\f0d9"}
.fa-caret-right:before{content:"\f0da"}
.fa-columns:before{content:"\f0db"}
.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}
.fa-sort-down:before,.fa-sort-asc:before{content:"\f0dd"}
.fa-sort-up:before,.fa-sort-desc:before{content:"\f0de"}
.fa-envelope:before{content:"\f0e0"}
.fa-linkedin:before{content:"\f0e1"}
.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}
.fa-legal:before,.fa-gavel:before{content:"\f0e3"}
.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}
.fa-comment-o:before{content:"\f0e5"}
.fa-comments-o:before{content:"\f0e6"}
.fa-flash:before,.fa-bolt:before{content:"\f0e7"}
.fa-sitemap:before{content:"\f0e8"}
.fa-umbrella:before{content:"\f0e9"}
.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}
.fa-lightbulb-o:before{content:"\f0eb"}
.fa-exchange:before{content:"\f0ec"}
.fa-cloud-download:before{content:"\f0ed"}
.fa-cloud-upload:before{content:"\f0ee"}
.fa-user-md:before{content:"\f0f0"}
.fa-stethoscope:before{content:"\f0f1"}
.fa-suitcase:before{content:"\f0f2"}
.fa-bell-o:before{content:"\f0a2"}
.fa-coffee:before{content:"\f0f4"}
.fa-cutlery:before{content:"\f0f5"}
.fa-file-text-o:before{content:"\f0f6"}
.fa-building:before{content:"\f0f7"}
.fa-hospital:before{content:"\f0f8"}
.fa-ambulance:before{content:"\f0f9"}
.fa-medkit:before{content:"\f0fa"}
.fa-fighter-jet:before{content:"\f0fb"}
.fa-beer:before{content:"\f0fc"}
.fa-h-square:before{content:"\f0fd"}
.fa-plus-square:before{content:"\f0fe"}
.fa-angle-double-left:before{content:"\f100"}
.fa-angle-double-right:before{content:"\f101"}
.fa-angle-double-up:before{content:"\f102"}
.fa-angle-double-down:before{content:"\f103"}
.fa-angle-left:before{content:"\f104"}
.fa-angle-right:before{content:"\f105"}
.fa-angle-up:before{content:"\f106"}
.fa-angle-down:before{content:"\f107"}
.fa-desktop:before{content:"\f108"}
.fa-laptop:before{content:"\f109"}
.fa-tablet:before{content:"\f10a"}
.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}
.fa-circle-o:before{content:"\f10c"}
.fa-quote-left:before{content:"\f10d"}
.fa-quote-right:before{content:"\f10e"}
.fa-spinner:before{content:"\f110"}
.fa-circle:before{content:"\f111"}
.fa-mail-reply:before,.fa-reply:before{content:"\f112"}
.fa-github-alt:before{content:"\f113"}
.fa-folder-o:before{content:"\f114"}
.fa-folder-open-o:before{content:"\f115"}
.fa-expand-o:before{content:"\f116"}
.fa-collapse-o:before{content:"\f117"}
.fa-smile-o:before{content:"\f118"}
.fa-frown-o:before{content:"\f119"}
.fa-meh-o:before{content:"\f11a"}
.fa-gamepad:before{content:"\f11b"}
.fa-keyboard-o:before{content:"\f11c"}
.fa-flag-o:before{content:"\f11d"}
.fa-flag-checkered:before{content:"\f11e"}
.fa-terminal:before{content:"\f120"}
.fa-code:before{content:"\f121"}
.fa-reply-all:before{content:"\f122"}
.fa-mail-reply-all:before{content:"\f122"}
.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}
.fa-location-arrow:before{content:"\f124"}
.fa-crop:before{content:"\f125"}
.fa-code-fork:before{content:"\f126"}
.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}
.fa-question:before{content:"\f128"}
.fa-info:before{content:"\f129"}
.fa-exclamation:before{content:"\f12a"}
.fa-superscript:before{content:"\f12b"}
.fa-subscript:before{content:"\f12c"}
.fa-eraser:before{content:"\f12d"}
.fa-puzzle-piece:before{content:"\f12e"}
.fa-microphone:before{content:"\f130"}
.fa-microphone-slash:before{content:"\f131"}
.fa-shield:before{content:"\f132"}
.fa-calendar-o:before{content:"\f133"}
.fa-fire-extinguisher:before{content:"\f134"}
.fa-rocket:before{content:"\f135"}
.fa-maxcdn:before{content:"\f136"}
.fa-chevron-circle-left:before{content:"\f137"}
.fa-chevron-circle-right:before{content:"\f138"}
.fa-chevron-circle-up:before{content:"\f139"}
.fa-chevron-circle-down:before{content:"\f13a"}
.fa-html5:before{content:"\f13b"}
.fa-css3:before{content:"\f13c"}
.fa-anchor:before{content:"\f13d"}
.fa-unlock-o:before{content:"\f13e"}
.fa-bullseye:before{content:"\f140"}
.fa-ellipsis-horizontal:before{content:"\f141"}
.fa-ellipsis-vertical:before{content:"\f142"}
.fa-rss-square:before{content:"\f143"}
.fa-play-circle:before{content:"\f144"}
.fa-ticket:before{content:"\f145"}
.fa-minus-square:before{content:"\f146"}
.fa-minus-square-o:before{content:"\f147"}
.fa-level-up:before{content:"\f148"}
.fa-level-down:before{content:"\f149"}
.fa-check-square:before{content:"\f14a"}
.fa-pencil-square:before{content:"\f14b"}
.fa-external-link-square:before{content:"\f14c"}
.fa-share-square:before{content:"\f14d"}
.fa-compass:before{content:"\f14e"}
.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}
.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}
.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}
.fa-euro:before,.fa-eur:before{content:"\f153"}
.fa-gbp:before{content:"\f154"}
.fa-dollar:before,.fa-usd:before{content:"\f155"}
.fa-rupee:before,.fa-inr:before{content:"\f156"}
.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}
.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}
.fa-won:before,.fa-krw:before{content:"\f159"}
.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}
.fa-file:before{content:"\f15b"}
.fa-file-text:before{content:"\f15c"}
.fa-sort-alpha-asc:before{content:"\f15d"}
.fa-sort-alpha-desc:before{content:"\f15e"}
.fa-sort-amount-asc:before{content:"\f160"}
.fa-sort-amount-desc:before{content:"\f161"}
.fa-sort-numeric-asc:before{content:"\f162"}
.fa-sort-numeric-desc:before{content:"\f163"}
.fa-thumbs-up:before{content:"\f164"}
.fa-thumbs-down:before{content:"\f165"}
.fa-youtube-square:before{content:"\f166"}
.fa-youtube:before{content:"\f167"}
.fa-xing:before{content:"\f168"}
.fa-xing-square:before{content:"\f169"}
.fa-youtube-play:before{content:"\f16a"}
.fa-dropbox:before{content:"\f16b"}
.fa-stack-overflow:before{content:"\f16c"}
.fa-instagram:before{content:"\f16d"}
.fa-flickr:before{content:"\f16e"}
.fa-adn:before{content:"\f170"}
.fa-bitbucket:before{content:"\f171"}
.fa-bitbucket-square:before{content:"\f172"}
.fa-tumblr:before{content:"\f173"}
.fa-tumblr-square:before{content:"\f174"}
.fa-long-arrow-down:before{content:"\f175"}
.fa-long-arrow-up:before{content:"\f176"}
.fa-long-arrow-left:before{content:"\f177"}
.fa-long-arrow-right:before{content:"\f178"}
.fa-apple:before{content:"\f179"}
.fa-windows:before{content:"\f17a"}
.fa-android:before{content:"\f17b"}
.fa-linux:before{content:"\f17c"}
.fa-dribbble:before{content:"\f17d"}
.fa-skype:before{content:"\f17e"}
.fa-foursquare:before{content:"\f180"}
.fa-trello:before{content:"\f181"}
.fa-female:before{content:"\f182"}
.fa-male:before{content:"\f183"}
.fa-gittip:before{content:"\f184"}
.fa-sun-o:before{content:"\f185"}
.fa-moon-o:before{content:"\f186"}
.fa-archive:before{content:"\f187"}
.fa-bug:before{content:"\f188"}
.fa-vk:before{content:"\f189"}
.fa-weibo:before{content:"\f18a"}
.fa-renren:before{content:"\f18b"}
.fa-pagelines:before{content:"\f18c"}
.fa-stack-exchange:before{content:"\f18d"}
.fa-arrow-circle-o-right:before{content:"\f18e"}
.fa-arrow-circle-o-left:before{content:"\f190"}
.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}
.fa-dot-circle-o:before{content:"\f192"}
.fa-wheelchair:before{content:"\f193"}
.fa-vimeo-square:before{content:"\f194"}
.fa-turkish-lira:before,.fa-try:before{content:"\f195"}


#subscribe-right > a {
    display: inline-block;
    background: #db7201;
    border-radius: 22px;
    padding: 6px 20px 6px 20px;
    color: white !important;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: 'Cabin Condensed', sans-serif;
    margin-top: 0px;
	box-shadow: 0px 4px 0px #b25c00;
    font-weight: normal;
}

#subscribe-right > a:hover {
	background: #404040;
	box-shadow: 0px 4px 0px #222222;
}

.pp_gallery,
.pp_hoverContainer {
	display: none !important;
}